.footer{
    background-color: rgba(0, 0, 0, 0.698);
    display: flex;
    justify-content: space-around;


    .le-contact{
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        width: 12%;

        
        h3{
            color: #fff;
            text-align: center;
            font-family: $policeTitre;
            text-transform: uppercase;
        }
        
        .reseux-sociaux{
            margin: 9%;
            letter-spacing: 30px;

        
        }
        
        .reseux-sociaux1{
            margin: 9%;
            letter-spacing: 30px;
        }
        
    }


    .logo{
        
        background:linear-gradient(222deg,rgba(151, 32, 32, 0.84), rgba(183, 14, 14, 0.75) , rgb(148 15 15 / 91%),rgb(3 0 0));
        display: flex;
        justify-content: center;

        img{
            width: 50%;
            height: 100%;
        }
    }

    .menu-footer{
        margin-top: 2%;
        width: 20%;
        height: 100%;

        h3{
            color: #fff;
            text-align: center;
            font-family: $policeTitre;
            text-transform: uppercase;
        }
    }




    .menu-footer li {
        list-style-type: none;

    }
    

    ul{
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin-top: 20%;
    }


    .menu-footer a{
        color: #fff;
        text-decoration: none;
        font-size: 20px;
}

.nav-link:hover{
    color: #ab2424;
 
}

}


// la version mobile 

@media all and  (max-width: 500px){

    .footer{
        flex-direction: column-reverse;


        .le-contact{

            display: block;
            width: 100%;

            .reseux-sociaux{
                letter-spacing: 90px;
                margin-left: 23%;
                padding-left: 5%;
            }

            .reseux-sociaux1{
                letter-spacing: 90px;
                margin-left: 23%;
                padding-left: 5%;
            }
        }

        
        .menu-footer{
            width: 100%;
            
        }

        ul{
            justify-content: space-around;
        }


    }
}