.bouton1{

    display: flex;
    justify-content: center;
    margin-top: -10%;
    
    
    .bouton {
        padding: 13px 26px;
        border-radius: 30px;
        background-color:rgba(220, 95, 0, 0.87);
        
    }
    
    .bouton a {
        
        color: black;
        text-decoration: none;
        letter-spacing: 1px;
        font-family: $policeTitre;
        font-size: 20px;

    }
}


@media all and  (max-width: 500px){

.contenu {

    .bouton1{

        margin-top: -15%;

     .bouton{
        padding: 8px 20px;

        a{
            font-size: small;
        }
    }
}

}

}


.bouton2{

    .bouton {
        padding: 9px 18px;
        border-radius: 30px;
        background-color:rgba(220, 95, 0, 0.87);
        
    }
    
    .bouton a {
        
        color: black;
        text-decoration: none;
        letter-spacing: 1px;
        font-family: $policeTitre;
        font-size: 20px;

    }
}


@media all and  (max-width: 500px){

    .bouton2{

        .bouton{
            padding: 7px 15px;

            a{
                font-size: small;
            }
        }
    }
}



    